MONGODB_URI=mongodb+srv://<your_connection_string>
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_BUCKET_NAME=your_bucket_name
AWS_REGION=your_region
REDIS_HOST=localhost
REDIS_PORT=6379
PORT=3000
NODE_ENV=""

CLIENT_URL=http://localhost:4000

ACCESS_TOKEN_SECRET=access_secret_key
REFRESH_TOKEN_SECRET=refresh_secret_key

ADMIN_UI_URL=admin

# NodeMailer
EMAIL_USER=
EMAIL_PASS=
